---
import Layout from '../layouts/Layout.astro';
---

<Layout>
    <main class="flex min-h-screen items-center justify-center p-10">
		<div class="w-max">
			<h1 class="text-4xl font-bold">Mis certificaciones</h1>
			<p class="text-lg animate-typing overflow-hidden whitespace-nowrap border-r-4">
				&gt; Certificados SysOps.
			</p>
		</div>
	</main>

<section class="mt-10 mb-40">
    <div class="flex justify-center gap-4">
        <h2 class="text-4xl font-bold text-left text-white mb-12">&gt; Obtenidos</h2>
    </div>
    <div class="w-3/4 mx-auto">
        <div class="bg-white bg-opacity-5 backdrop-blur-md border border-gray-400 rounded-lg p-4 mt-4">
            <p class="text-white">
                <span class="font-bold">Terminal:</span> ¿Cuál es el primer certificado que has obtenido?
                <br>
                <span class="font-bold">Yo:</span> AWS Certified Solutions Architect - Associate
                <br>
                <span class="font-bold">Contenido:</span> Este certificado valida la capacidad para diseñar y desplegar sistemas escalables en AWS. 
                <a href="https://aws.amazon.com/certification/certified-solutions-architect-associate/" target="_blank" class="text-blue-400 underline">Más información</a>
            </p>
        </div>
        <div class="bg-white bg-opacity-5 backdrop-blur-md border border-gray-400 rounded-lg p-4 mt-4">
            <p class="text-white">
                <span class="font-bold">Terminal:</span> ¿Y el segundo certificado?
                <br>
                <span class="font-bold">Yo:</span> Microsoft Certified: Azure Administrator Associate
                <br>
                <span class="font-bold">Contenido:</span> Este certificado demuestra la habilidad para implementar, gestionar y monitorear entornos de Azure. 
                <a href="https://learn.microsoft.com/en-us/certifications/azure-administrator/" target="_blank" class="text-blue-400 underline">Más información</a>
            </p>
        </div>
    </div>
</section>

<section class="mt-10 mb-40">
    <div class="flex justify-center space-x-4">
        <h2 class="text-4xl font-bold text-left text-white mb-12">&gt; En proceso</h2>
    </div>
    <div class="w-3/4 mx-auto">
        <div class="pb-10 bg-white bg-opacity-5 backdrop-blur-md border border-gray-400 rounded-lg p-4 mt-4">
            <div class="flex justify-end mt-2">
                <a href="">
                    <div class="bg-green-500 bg-opacity-35 backdrop-blur-md rounded-lg p-2 max-w-xl hover:bg-red-400">
                        <p class="text-white">
                             
                        </p>
                    </div>
                </a>    
            </div>
            <div class="flex justify-start mt-2">
                <div class="bg-slate-800 bg-opacity-5 backdrop-blur-md rounded-lg p-2 max-w-3xl">
                    <p class="text-white">
                        <span class="font-bold"></span> &gt; cat "<span class="bg-gray-800 p-1 rounded hover:bg-gray-700 transition-colors duration-300">&lt;Cloud&gt;</span>.sh"
                    </p>
                </div>
            </div>
            <div class="flex justify-start mt-2">
                <div class="bg-slate-800 bg-opacity-35 backdrop-blur-md rounded-lg p-2 max-w-xl">
                    <p class="text-white">
                         AWS Certified Cloud Practitioner (CLF-01)
                    </p>
                </div>
            </div>
        </div>
        <p class="text-white text-left mt-2 mb-10">
            <span class="font-bold">Contenido:</span> Este certificado se centra en las habilidades para gestionar servicios e infraestructura en la nube de AWS. 
            <a href="https://www.cncf.io/certification/cka/" target="_blank" class="text-blue-400 underline"><br>Más información</a>
        </p>
        <div class="pb-10 bg-white bg-opacity-5 backdrop-blur-md border border-gray-400 rounded-lg p-4 mt-4">
            <div class="flex justify-end mt-2">
                <a href="">
                    <div class="bg-green-500 bg-opacity-35 backdrop-blur-md rounded-lg p-2 max-w-xl hover:bg-red-400">
                        <p class="text-white">
                             
                        </p>
                    </div>
                </a>    
            </div>
            <div class="flex justify-start mt-2">
                <div class="bg-slate-800 bg-opacity-5 backdrop-blur-md rounded-lg p-2">
                    <p class="text-white">
                        &gt; cat "<span class="bg-gray-800 p-1 rounded hover:bg-gray-700 transition-colors duration-300">&lt;sistemas&gt;</span>.sh"
                    </p>
                </div>
            </div>
            <div class="flex justify-start mt-2">
                <div class="bg-slate-800 bg-opacity-35 backdrop-blur-md rounded-lg p-2 max-w-xl">
                    <p class="text-white">
                        Linux Foundation Certified System Administrator  (LCCS)
                    </p>
                </div>
            </div>
        </div>
        <p class="text-white text-left mt-2 mb-10">
            <span class="font-bold">Contenido:</span> Este certificado se centra en las habilidades para la administración de sistemas operativos basados en LINUX/UNIX. 
            <a href="https://www.cncf.io/certification/cka/" target="_blank" class="text-blue-400 underline"> <br>Más información</a>
        </p>
    </div>
</section>
</Layout>